body{
    margin: 0px;
    padding: 0px;
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQrqPcRMIrsup5xmuc66diePpzmuhKB5a2KExZG-CFiRrctnihw");
}
a{
    text-decoration: none;
}
header{
    border-bottom: 1px crimson groove;
    min-height: 50px;
    background: #000;
}

main{
    align-content: center;
    padding-top: 30px;
    border: 3px groove #a4ab94;
    padding-bottom: 30px;
    width: 70%;
    align-self: center;
    margin:182px auto;
    margin-bottom: 200px;
}

.styled_nav_top{
    width: 80%;
    color: #999;
    font-size: larger;
    padding-left: 100px;
    padding-right: 20px;
    margin: auto;
}

.styled_nav_top a{
    color: #999;
    padding-top: 15px;
    padding-bottom: 14px;
    font-size: medium;
}

.styled_nav_top table{
    text-align: center;
    padding-right: 50px;
}

.styled_nav_top table td{
    padding: 10px;
}
.styled_nav_top table td:hover{
    border-top: 7px solid yellowgreen;
}
.styled_nav_top a:hover{
    color: #ffffff;
}

main form input{
    color: #777777;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
}

main form input:hover{
    border: 2px solid yellow;
}

main form input[type="submit"]:hover{
    width: 20%;
}

h3{
    color: #f2ebac;
}
main h1{
    color: #edebe3;
}
article{
    margin: auto;
    align-self: center;
    align-content: center;
    align-items: center;
}